body{
    background-color: #f7f7f7
}
#wcontainer{
    /* Container holding the image and the text */
width: 100%;
position: relative;
text-align: center;
color: white;

}


/* Bottom left text */
.wbottom-left {
position: absolute;
bottom: 8px;
left: 16px;
}

/* Top left text */
.wtop-left {
position: absolute;
top: 18px;
left: 16px;
}

/* Top right text */
.wtop-right {
position: absolute;
top: 8px;
right: 16px;
}

/* Bottom right text */
.wbottom-right {
position: absolute;
bottom: 8px;
right: 16px;
}

/* Centered text */
.wcentered {
position: absolute;
top: 45%;
left: 35%;
right: 30%;

transform: translate(-50%, -50%);
}


.wh1title{
text-align: left;
width: 65%;
font-size: 17px;
line-height: 25px;
margin-top: -30px;
font-family: 'Barlow', sans-serif;
justify-content: left;
font-weight: 600;

/* border: 1px solid white; */

}
#wh1gravel{
text-transform: uppercase;
font-size: 57px;
width: 750px;

text-align: left;
padding-top: 20px;
/* margin-left: 10px; */
line-height: 59px;
font-weight: 400;
/* margin-bottom: 50px; */
color: #ffffff;
margin: auto;
margin-top: 30px;
padding-bottom: 25px;
/* border: 1px solid red; */
font-family: 'Bebas Neue', cursive;
}
.wbannerbottom{

display: flex;
background-color: #f7f7f7;
color: #3f4351;
justify-content: space-around;
justify-content: center;
margin: auto;
/* border: 1px solid red; */
border-top-right-radius: 20px;
border-top-left-radius: 20px;
margin-top: -12px;
text-align: left;

}
#wbox{
    display: flex;
    width: 350px;
    gap: 15px;
    padding-top: 15px;
    margin: auto;
    justify-content: center;
    background-color: #f7f7f7;
    /* border: 1px solid green; */
    }
#wpara{
    width: 120px;
    /* border: 1px solid black; */
    font-weight: bold;
    font-size: 14px;
    font-family: 'Barlow',sans-serif;
    }
#wpara2{
     width: 150px;
        /* border: 1px solid black; */
        font-weight: bold;
        font-size: 14px;
        font-family: 'Barlow',sans-serif;
        }

        #wsort{
            /* //margin: auto; */
            /* margin-bottom: 100px; */
            background-color: #f7f7f7;
            height: 120px;
            width: 100%;
            /* border: 2px solid green; */
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            margin-right: 60px;
            }
            #wsort1{
            border: 1px solid black;
            width: 20%;
            height: 70%;
            margin-top: 30px;
            margin-bottom: 0%;
            font-weight: bold;
            font-size: 20px;
            padding-top: 20px;
            margin-left: 100px;
            color: #4c4d51;
            background-color: #f7f7f7;
            /* padding-right: 40px; */
            border: none;
            font-family: 'Barlow',sans-serif;
            }
          
            #wsort2{
                border: 1px solid black;
                width: 15%;
                height: 30%;
                margin-top: 60px;
                /* margin-bottom: 0%; */
                font-weight: bold;
                font-size: 15px;
                margin-right: 150px;
                display: flex;
                border-radius: 8px;
                padding-left: 25px;
                color: #4c4d51;
                background-color: #f7f7f7;
                font-family: 'Barlow',sans-serif;
            }
          
            
        #wscolling{
            display: flex;
            /* border: 1px solid black; */
            gap: 25px;
            width: 100%;
            height: 650px;
            background-color: #f7f7f7;
        
        }
        #wdiv1{
        
            /* border: 1px solid black; */
            width:24%;
            height: 600px;
            border-radius: 10px;
            border-top-left-radius: 10px;
            margin-top: 0%;
            margin-left: 100px;
            /* overflow-y: scroll; */
            background-color: #f7f7f7;
            
            }
            .wclear{
                display: flex;
                justify-content: space-around;
                width: 100%;
                height: 65px;
                color: orangered;
                background-color: #4c4d51;
                padding-top: 20px;
                font-weight: bold;
                font-size: 12px;
                font-family: 'Barlow',sans-serif;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
            }
            .wicon{
                /* padding-bottom: 20px; */
                font-size: 20px;
                color: white;
                /* border: 1px solid green; */
            }
.wnav {
    list-style-type: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #4c4d51;
    margin-top: -10px;
    /* padding-top: 50px; */
    padding: 0;
    width: 100%;
    overflow: hidden;
    height: 500px;
    /* border: 1px solid green; */
 }
 
 .wnav-item {
    font-size: 14px;
    /* height: 20px; */
    font-family: 'Barlow',sans-serif;
    background: #4c4d51;
    border-bottom: 1px solid rgba(63, 46, 73, 0.3);
 }
 
 .wnav-item:last-child {
    border-bottom: none;
 }
 
 .wnav-link, .wnav-submenu-link {
    text-decoration: none;
    padding: 16px 20px;
    display: block;
    color: #a3a6b0;
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;;
    font-weight: 400;
    line-height: 15px;
 }
 
 .wnav-submenu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
    background: #4c4d51;
 }
 .wnav-submenu:target {
    max-height: 10rem;
 }
 .wnav-submenu-link {
    font-size: 16px;
    background: transparent;
    transition: background 0.2s ease-in;
 }
 .wnav-submenu-link:hover {
    background: #4c4d51;
 }
 #whr{
     margin: auto;
     width: 80%;
 }
 #wdiv2{

    /* border: 1px solid red; */
    width:80%;
    height: 580px;
    margin-top: 0%;
    display:flex;
    justify-content: center;
    /* border-radius: 40px; */
    gap: 20px;
    background-color: #f7f7f7;
    
    }
     
    
    #wdiv21{
        /* border: 1px solid green; */
        padding: 20px;
        padding-top: 10px;
        width: 38%;
        height: 550px;
        border-radius: 10px;
        background-color: white;
      
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
     #wdiv22{
      
    height: 550px;
    width: 38%;
    background-color: white;
    
    border-radius: 10px;
    margin-right: 100px;
    padding: 20px;
    padding-top: 10px;
  
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    #wcontainer2{
        /* Container holding the image and the text */
        margin-top: 100px;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
    background-color: #f7f7f7;
    /* border: 1px solid black; */
    
    }
    .wsh1{
    width: 100%;
    background-color: #f7f7f7;
    }
    /* Bottom left text */
    .wbottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    }
    
    /* Top left text */
    .wtop-left {
    position: absolute;
    top: 18px;
    left: 16px;
    }
    
    /* Top right text */
    .wtop-right {
    position: absolute;
    top: 8px;
    right: 16px;
    }
    
    /* Bottom right text */
    .wbottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    }
    
    /* Centered text */
    .wcentered {
    position: absolute;
    top: 45%;
    left: 28%;
    right: 30%;
    
    /* font-size: 45px; */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    transform: translate(-50%, -50%);
    }
    
    .wh2title{
    text-align: left;
    width: 65%;
    font-size: 17px;
    line-height: 23px;
    margin-top: 10px;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    margin-left: 30px;
    font-weight: 600;
    /* padding-top: -10%; */
    /* border: 1px solid white; */
    
    }
    #wh2gravel{
    text-transform: uppercase;
    font-size: 46px;
    line-height: 40PX;
    
    width: 300px;
    font-weight: bold;
    text-align: left;
    
    color: #ffffff;
    margin: 30PX;
    /* margin-top: -350px; */
    /* border: 1px solid red; */
    font-family: 'Bebas Neue', cursive;
    }
    .wfind{
        font-size: 20px;
        /* padding: 20px; */
        background-color: #f8673b;
        color: white;
        border-radius: 5px;
        border: none;
        font-family: 'Barlow', sans-serif;
        padding: 25px 15px 25px 15px;
        font-weight: bold;
        
      
    }
    
    #wExpertOpinion{
    width: 100%;
    height: 150px;
    /* border: 1px solid red; */
    background-color: #f7f7f7;
    
    
    }
    #wExpertOpinion .wExpert{
    position: absolute;
    height: 75px;
    margin-left: 100px;
    font-size: 38px;
    color: #3f4351;
    /* border: 1px solid red; */
    margin-top: 45px;
    font-weight: 600;
    line-height: 45px;
    
    font-family: 'Barlow',sans-serif;
    }
    #wExpertOpinion .wOpinion{
    height: 20px; 
    position: absolute;
    font-size: 38px;
    margin-left: 100px;
    height: 75px;
    /* border: 1px solid red; */
    margin-top: 65px;
    color: grey;
    font-weight: 800;
    font-family: 'Barlow',sans-serif;
    }
    #wopinionbottom{
    width: 100%;
    height: 500px;
    display: flex;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    background-color: #f7f7f7;
    
    }
    .wrow{
        width: 80%;
        margin: auto;
        margin-top: 0px;
        gap: 15px;
        border-radius: 25px;
        display: flex;
        background-color: #f7f7f7;
        /* border: 1px solid red;  */
     }
     .wrow::after {
        content: "";
        clear: both;
        display: flex;
        }
        #wimgbot{
            border-radius: 25px;
              /* border: 1px solid red; */
        }
       /* Three image containers (use 25% for four, and 50% for two, etc) */
       .wcolumn {
        position: relative;
        text-align: center;
        color: white;
      
      
        }
        
      
          
          /* Bottom left text */
          .bottom-left11 {
            position: absolute;
            bottom: 8px;
            left: 16px;
          
          }
          
          /* Top left text */
          .top-left11 {
            position: absolute;
            top: 8px;
            left: 16px;
          }
          
          /* Top right text */
          .top-right11 {
            position: absolute;
            top: 8px;
            right: 16px;
          }
          
          /* Bottom right text */
          .bottom-right11 {
            position: absolute;
            bottom: 8px;
            right: 16px;
          }
          
          /* Centered text */
          .centered11 {
            position: absolute;
            top: 50%;
            left: 35%;
            transform: translate(-50%, -50%);
          }
.expert11{
    font-family: 'Barlow', sans-serif;
    text-align: left;
    margin-top: 200px;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 30px;
    padding-top: 30px;
    color: white;
}
.expert22{
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    margin-left: 30px;
    width: 250px;
    margin-top: -10px;
   
}
.expert33{
    padding-bottom: 30px;
    margin-left: 30px;
    font-size: 35px;
    color: orangered;
    text-align: left;
}
 
         #slider{
             width: 100%;
             height: 600px;
             /* border: 1px solid red; */
         }
    
    #wc1{
    display: flex;
    font-size: 25px;
    font-weight: 400;
    gap: 10px;
    height: 60px;
    font-family: 'Barlow', sans-serif;
    }
    
    #wc2{
        /* border: 1px solid red; */
    width: 100%;
    height: 250px;
    justify-items: auto;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    }
    
    #wc3{
    display: flex;
    justify-content: space-around;
    height: 50px;
    margin-top: 10px;
    font-family: 'Barlow',sans-serif;
    font-size: 12px;
    font-weight: 600;
    /* border: 1px solid red; */
    }
    #wc4{
        display: flex;
       
        display: flex;
        justify-content: space-between;
    }   
    .wc41{
        font-size: 15px;
        display: flex;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Barlow',sans-serif;
        /* border: 1px solid black; */
    }
    #rupees{
        font-size: 15px;
    }
    .fa-solid {
        font-size: 20px;
    }
    .wc43{
         font-size: 10px; 
        /* padding: 20px; */
        background-color: #f7f7f7;
        color: grey;
        border-radius: 2px;
        border: none; 
      
        /* border: 1px solid black; */
     
        
    }
    #wa1{
    color: #3f4351;
    font-family: 'Bebas Neue', cursive;
    font-size: 29px;
    font-weight: 400;
    line-height: 29px;
    }
    
    
    #wa2{
    color: grey;
    }
    #wd1{
    display: flex;
    justify-content: space-around;
    /* /* border: 1px solid black; */
     
    width: 100%;
    height: 50px;
    margin-top: -10px;
    }
    #wstar{
    height: 30px;
    font-size: 10px;
    /* border: 1px solid black; */
    }
 
    #wp1{
    width: 100%;
    height: 550px;
    /* border: 1px solid red; */
    }
    .wd1a2{
    font-size: 30px;
    color: #f8673b;
    }
    .wd1a1{
        font-size: 30px;
        color: #f8673b;
    }
    .wd1a3{
        font-size: 10px;
        /* padding: 20px; */
        background-color: #f8673b;
        color: white;
        border-radius: 5px;
        border: none;
        padding: 10px 20px 10px 20px
    }
    .wchecked {
        color: orange;
        font-size: 12px;
      }
     #wa3{
         font-size: 10px;
     }
    .wdot{
            height: 15px;
            width: 15px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }
   
     .a11{
        text-decoration:none;
        color:white;
    }
    #symbol1{
        font-size: 25px;
        
    }       
      .container111{
          padding-top:40px;
          margin-top:-100;
          /* border: 2px solid green; */
      }
      #footer111{
        border: 2px solid #5d5d5d;
        margin-top: -20px;
        /* background-color: #5d5d5d; */
        /* color: #5d5d5d; */
        
    }
    .d-flex {
        gap: 25px;
    }