body{
    background-color: #f7f7f7;
}

#container{
    /* Container holding the image and the text */

position: relative;
text-align: center;
color: white;

}

/* Bottom left text */
.bottom-left {
position: absolute;
bottom: 8px;
left: 16px;
}

/* Top left text */
.top-left {
position: absolute;
top: 18px;
left: 16px;
}

/* Top right text */
.top-right {
position: absolute;
top: 8px;
right: 16px;
}

/* Bottom right text */
.bottom-right {
position: absolute;
bottom: 8px;
right: 16px;
}

/* Centered text */
.centered {
position: absolute;
top: 45%;
left: 35%;
right: 30%;

transform: translate(-50%, -50%);
}


.h1title{
text-align: left;
width: 65%;
font-size: 17px;
line-height: 25px;
margin-top: -30px;
font-family: 'Barlow', sans-serif;
justify-content: left;
font-weight: 600;

/* border: 1px solid white; */

}
#h1gravel{
text-transform: uppercase;
font-size: 57px;
width: 750px;

text-align: left;
padding-top: 20px;
/* margin-left: 3px; */
line-height: 59px;
font-weight: 400;
/* margin-bottom: 50px; */
color: #ffffff;
margin: auto;
margin-top: 40px;
padding-bottom: 5px;
/* border: 1px solid red; */
font-family: 'Bebas Neue', cursive;
}
.bannerbottom{

display: flex;
background-color: #e7e7e7;
color: #3f4351;
justify-content: space-around;
justify-content: center;
margin: auto;
/* border: 1px solid red; */
border-top-right-radius: 20px;
border-top-left-radius: 20px;
margin-top: -12px;
text-align: left;



}

#box{
display: flex;
width: 50%;
gap: 20px;
margin: auto;
/* border: 1px solid green; */
}
#para{
font-weight: bold;
font-size: 14px;
font-family: 'Barlow',sans-serif;
}
#scolling{
display: flex;
/* border: 1px solid black; */
gap: 25px;
width: 100%;
height: 650px;


}
#div1{

/* border: 1px solid black; */
width:24%;
height: 600px;
border-radius: 10px;
border-top-left-radius: 10px;
margin-top: 0%;
margin-left: 100px;
/* overflow-y: scroll; */
background-color: #f7f7f7;


}
.clear{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 45px;
    color: orangered;
    background-color: #4c4d51;
    padding-top: 20px;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Barlow',sans-serif;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.icon{
    font-size: 20px;
    color: white;
   
}
.nav {
    list-style-type: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #4c4d51;
    margin-top: -10px;
    padding: 0;
    width: 100%;
    overflow: hidden;
 }
 
 .nav-item {
    font-size: 14px;
    
    font-family: 'Barlow',sans-serif;
    background: #4c4d51;
    border-bottom: 1px solid rgba(63, 46, 73, 0.3);
 }
 
 .nav-item:last-child {
    border-bottom: none;
 }
 
 .nav-link, .nav-submenu-link {
    text-decoration: none;
    padding: 16px 20px;
    display: block;
    color: #a3a6b0;
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;;
    font-weight: 400;
    line-height: 20px;
 }
 
 .nav-submenu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
    background: #4c4d51;
 }
 .nav-submenu:target {
    max-height: 10rem;
 }
 .nav-submenu-link {
    font-size: 16px;
    background: transparent;
    transition: background 0.2s ease-in;
 }
 .nav-submenu-link:hover {
    background: #4c4d51;
 }
 #hr{
     margin: auto;
     width: 80%;
 }
#div2{

/* border: 1px solid red; */
width:80%;
height: 580px;
margin-top: 0%;
display:flex;
justify-content: center;
/* border-radius: 40px; */
gap: 20px;
background-color: #f7f7f7;

}
 

#div21{
    /* border: 1px solid rgb(136, 0, 0); */
    padding: 20px;
    padding-top: 10px;
    width: 38%;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
 #div22{
/* border: 1px solid black; */
height: 500px;
width: 38%;
background-color: white;

border-radius: 10px;
margin-right: 100px;
padding: 20px;
padding-top: 10px;
/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

    

#sort{
/* //margin: auto; */
/* margin-bottom: 100px; */
height: 120px;
width: 100%;
/* border: 2px solid green; */
margin-top: 90px;
display: flex;
justify-content: space-between;
margin-right: 60px;
}
#sort1{
/* border: 1px solid black; */
width: 20%;
height: 70%;
margin-top: 30px;
margin-bottom: 0%;
font-weight: bold;
font-size: 20px;
padding-top: 20px;
margin-left: 100px;
background-color: #f7f7f7;
/* padding-right: 40px; */
border: none;
font-family: 'Barlow',sans-serif;
}
#sort1 > option{
/* padding-right: 40px; */
/* justify-content: flex-end; */
color: white;
background-color: #4c4d51;
}
#sort2{
/* border: 1px solid black; */
width: 15%;
height: 30%;
margin-top: 60px;
/* margin-bottom: 0%; */
font-weight: bold;
font-size: 15px;
margin-right: 110px;
display: flex;
border-radius: 8px;
padding-left: 25px;
background-color: #f7f7f7;
font-family: 'Barlow',sans-serif;
}
#container2{
    /* Container holding the image and the text */
width: 100%;
position: relative;
text-align: center;
color: white;
/* border: 1px solid black; */

}
.sh1{
width: 100%;
}
/* Bottom left text */
.bottom-left {
position: absolute;
bottom: 8px;
left: 16px;
}

/* Top left text */
.top-left {
position: absolute;
top: 18px;
left: 16px;
}

/* Top right text */
.top-right {
position: absolute;
top: 8px;
right: 16px;
}

/* Bottom right text */
.bottom-right {
position: absolute;
bottom: 8px;
right: 16px;
}

/* Centered text */
.centered {
position: absolute;
top: 45%;
left: 28%;
right: 30%;

/* font-size: 45px; */
/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
transform: translate(-50%, -50%);
}

.h2title{
text-align: left;
width: 65%;
font-size: 17px;
line-height: 23px;
margin-top: 10px;
font-family: 'Barlow', sans-serif;
box-sizing: border-box;
margin-left: 30px;
font-weight: 600;
/* padding-top: -10%; */
/* border: 1px solid white; */

}
#h2gravel{
text-transform: uppercase;
font-size: 46px;
line-height: 40PX;

width: 300px;
font-weight: bold;
text-align: left;

color: #ffffff;
margin: 30PX;
/* margin-top: -350px; */
/* border: 1px solid red; */
font-family: 'Bebas Neue', cursive;
}
.find{
    font-size: 20px;
    /* padding: 20px; */
    background-color: #f8673b;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 25px 15px 25px 15px;
    
    
  
}

#ExpertOpinion{
width: 100%;
height: 150px;
/* border: 1px solid red; */


}
#ExpertOpinion .Expert{
/* /* width: 100%; */
position: absolute;
height: 75px;
margin-left: 100px;
font-size: 38px;
/* margin-right: 100px; */
/* border: 1px solid red; */
margin-top: 45px;
font-weight: 450;
font-family: 'Barlow',sans-serif;
}
#ExpertOpinion .Opinion{
/* width: 100%;
height: 20px; */
position: absolute;
font-size: 38px;
margin-left: 100px;
height: 75px;
/* border: 1px solid red; */
margin-top: 70px;
color: grey;
font-weight: 450;
font-family: 'Barlow',sans-serif;
}
#opinionbottom{
width: 100%;
height: 500px;
display: flex;
display: flex;
justify-content: space-around;
border: 1px solid black;

}
.row{
    width: 80%;
    margin: auto;
    margin-top: 0px;
    gap: 15px;
    border-radius: 25px;
    display: flex;
 }

  

.imgbot{
    border-radius: 15px;
}


#c1{
display: flex;
font-size: 25px;
font-weight: 400;
gap: 10px;
height: 60px;
font-family: 'Barlow', sans-serif;
}

#c2{
    /* border: 1px solid red; */
width: 100%;
height: 250px;
justify-items: auto;
/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

#c3{
display: flex;
justify-content: space-around;
height: 50px;
margin-top: 10px;
font-family: 'Barlow',sans-serif;
font-size: 12px;
font-weight: 600;
/* border: 1px solid red; */
}
#c4{
    display: flex;
   
    display: flex;
    justify-content: space-between;
}   
.c41{
    font-size: 15px;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Barlow',sans-serif;
    /* border: 1px solid black; */
}
.c43{
     font-size: 10px; 
    /* padding: 20px; */
    background-color: #f7f7f7;
    color: grey;
    border-radius: 2px;
    border: none; 
  
    /* border: 1px solid black; */
 
    
}
#a1{
color: #3f4351;
font-family: 'Bebas Neue', cursive;
font-size: 29px;
font-weight: 400;
line-height: 29px;
}


#a2{
color: grey;
}
#d1{
display: flex;
justify-content: space-around;
/* border: 1px solid black; */
width: 100%;
height: 50px;
}
#star{
height: 30px;
font-size: 10px;
/* border: 1px solid black; */
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
float: left;
width: 33.33%;
padding: 5px;
}

/* Clear floats after image containers */
.row::after {
content: "";
clear: both;
display: table;
}
.row {
display: flex;
}

.column {
flex: 33.33%;
padding: 5px;
}
#p1{
width: 100%;
height: 550px;
/* border: 1px solid red; */
}
.d1a2{
font-size: 30px;
color: #f8673b;
}
.d1a1{
    font-size: 30px;
    color: #f8673b;
}
.d1a3{
    font-size: 10px;
    /* padding: 20px; */
    background-color: #f8673b;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px 10px 20px
}
.checked {
    color: orange;
    font-size: 12px;
  }
 #a3{
     font-size: 10px;
 }
.dot{
        height: 15px;
        width: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }

     #imgbot{
         border-radius: 20px;
     }
    