body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@600&family=PT+Sans:wght@700&family=Roboto:wght@100;300&display=swap');
.explore-container{
    width:80%;
    height:auto;
    margin:auto;
    padding-left:20px;
}
.sec-head{
    display:flex;
    justify-content:space-between;
}
.sec-head>p{
    margin-top:20px;
}
#explore{
    color:white;
    position:relative;
    font-weight: 600;
}
#firefox{
    color:rgba(255,255,255,0.5);
    position:absolute;
    margin-top: 47px;
    position: absolute;
    font-weight: 600;
}
#explore, #firefox,#explor, #firefo{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size:50px;
}
#explor{
    color:rgb(0, 0, 0);
    position:relative;
    font-weight: 600;
}
#firefo{
    color:rgba(80, 80, 80, 0.5);
    position:absolute;
    margin-top: 47px;
    position: absolute;
    font-weight: 600;
}
.sec-head>div>span{
    font-size:40px;
    font-weight: bold;
    color: orangered;
    margin-left:30px;
    margin-right: 30px;
}
#slider-container{
    width:75%;
    margin: auto;
}
.trailblazers{
    width:90%;
    margin: auto;
    margin-top:70px;
}

.thor{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.thor-left-div{
    display:flex;
}
.font-style{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.thor-left-div >div> p:nth-child(1){
    color:crimson;
    font-weight: 700;
}
.thor-left-div >div> p:nth-child(2),.thor-left-div >div> p:nth-child(3){
    color:rgb(61, 61, 61);
    font-size: 20px;
    font-weight: 700;
    line-height: 5px;
}

.thor-right-div{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    grid-gap: 20px;
    justify-content:center;
    align-items:center;

}
.thor-right-div>div{
    width:200px;
    height:200px;
}
#thor-image{
    width:400px;
    height:350px;
}
#cycle-image{
    width:250px;
    height:200px;
    margin-top:100px;
}
.thor-right-div img{
    border-radius: 20px;
    width:100%;
    height:100%;
    position:relative;
}
.trail-parent{
    width:100%;
    background-color:rgb(218, 218, 218);
    padding-bottom:40px;
}
.edge-image{
    width:100%;
    position:relative;
}
.edge>h1{
    position:absolute;
    margin-top:40px;
}
.edge>h2{
    position:absolute;
    margin-top:70px;
}




.edge {
    position: relative;
    text-align: center;
    color: white;
  }
.edge>img{
    width:100%;
}
.edge-firefox {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size:60px;
}
.edge-edge {
    position: absolute;
    top: 42px;
    left: 16px;
    font-size:60px;
    color: rgba(255,255,255,0.5);
  }

  .slider-container{
    width:80%;
    height:auto;
    margin:auto;
}
.carousel-item h1{
    font-weight: 800;
    color:rgba(255,255,255,0.7);
}
.carousel-item > img{
    border-radius: 15px;
}

/* shreeparda starts */
h1{
    position: absolute;
    top:200px;
    left:200px;
    color:white;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
 }
 .contain{
     width:100%;
     position: relative;
     margin: auto;
     margin-top: 70px;
 }
 .contain>video{
     width:100%;
     margin:auto;
 }
 .linkbox{
     display:flex;
     height:50px;
     position:absolute;
     top:450px;
     left:200px;
 }
 .linkbox>p>a{
     color:white;
     text-decoration: none;
     line-height: 14px;
 }
 i{
    color:orangered;
}
.linkbox>p{
    margin-right: 15px;
    margin-left: 15px;
    font-family:'barlow';
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    
}
.linkbox>h2>i{
    color:#828181;
    size: 50px;
    
}
.bikersspeak{
    width:100%;
    height:600px;
    border:1px solid grey;
    background:url("https://www.firefoxbikes.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites-HeroFirefox-Library/default/dw4f279db0/Homepage_Bikerspeak_1.jpg?sh=882&sfrm=jpg&q=70");
    background-repeat: no-repeat;
    background-size: 100% 600px;
}
#relative{
    color:#6b6f75;
    font-family:'Bebas Neue';
    font-size: 60px;
    margin-left: 60px;
    margin-top: 150px;
    position: relative;
}
#absolute{
    color:white;
    font-family:'Bebas Neue';
    font-size: 60px;
    margin-left: 60px;
    margin-top: -115px;
    position: absolute;
}
#swipe{
    width:430px;
    height:400px;
    margin-left: 60px;
    color:white;
    font-family:'barlow';
}
.wrapper>p i{
    size:60px;
    color:white;
}
.firefoxflash{
    width:100%;
    height:600px;
    background-color:white;
}
#firefoxes{
color:#3f4351;
margin-left: 80px;
margin-top: 30px;
font-family: 'Bebas Neue';
font-size: 60px;
position: relative;
}
#flash{
color:#9a9ba3;
margin-left: 80px;
font-family: 'Bebas Neue';
font-size: 60px;
position: absolute;
margin-top: 30px;
}
.flashgrid{
    height:400px;
    width:1100px;
    margin: auto;
    margin-top: 100px;
    display:grid;
    grid-template-rows: repeat(1,250px);
    grid-template-columns: repeat(4,1fr);
    gap:10px;

}
.flashgrid>div{
    height:370px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 100% 370px;
    position:relative;
    box-shadow: inset 0px -100px 60px 0px black;
}
.flashgrid>div a{
  color:white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position:absolute;
  top:250px;
  width:80%;
  margin:auto;
  left:25px;
  line-height: 20px;
}
#one{
  background-image: url("https://www.firefoxbikes.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites/default/dw81355cb2/News-1.jpg?sh=600&sfrm=jpg&q=70");
  
}
#two{
  background-image: url("https://www.firefoxbikes.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites/default/dwb6311fad/News-2.jpg?sh=600&sfrm=jpg&q=70");
}
#three{
  background-image: url("https://www.firefoxbikes.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites/default/dw31efeb6b/News-3.jpg?sh=600&sfrm=jpg&q=70");
}
#four{
  background-image: url("https://www.firefoxbikes.com/dw/image/v2/BGQH_PRD/on/demandware.static/-/Sites/default/dwca9fb8a9/Card-5.jpg?sh=600&sfrm=jpg&q=70");
}

/*bikers speak slider properties*/
.wrapper {
  position: relative;
/* moves the wrapper up on y axis */
  transform: translateY(-70%);
  top:70%;
  margin: 0 auto;
  width: 100%;
  height:380px;
  overflow: hidden;
}

.wrapper p {
 position: absolute;
  left: 100%;
  width: 100%;
  font-size: 20px;
  color: white;
  top: 0;
  opacity: 0;
  transition: left 1.8s, opacity 0.5s ease;
}

.wrapper p.activeText {
  position: relative;
  left: 0;
  opacity: 1;
}

.wrapper p.slideLeft {
  left: -100%;
  opacity: 0.1;
}

.wrapper p:before {
  /* content: "\201C"; */
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

.wrapper p:after {
  /* content: "\201D"; */
  font-size: 3em;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.45em;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul li {
  list-style: none;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: orangered;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.active {
  background: #ecf0f1;
}

/* Arrows */

.arrows {
  color: orangered;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 50%;
  margin-top: 140px;
}

.prev {
  border-bottom: 6px solid;
  border-left: 6px solid;
  transform: rotate(45deg);
  left: 10px;
}

.next {
  border-bottom: 6px solid;
  border-left: 6px solid;
  transform: rotate(-135deg);
  right: 10px;
}

.prev:active, .next:active {
  color: white;
}

/* shreeparda starts */
.carousel-caption h1:nth-child(1){
    position:absolute;
    top:-170px;
    left:0px;
}
.carousel-caption h1:nth-child(2){
    position:absolute;
    top:-90px;
    left:0px;
}
.go{
    font-size: 95px;
}