body {
    margin: 0;
    padding: 0;
    /* background-color: #1d1d1d; */
    background:url("https://i.ibb.co/pwjt472/1648613823492.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: 1800px; */
    /* padding-right: 400px; */
   
    
}
#big-box 
{
    width:1350px;
    height: auto;
    /* border: 1px solid white; */
    display: flex;
}
.cont 
{
width: 33%;
position: absolute;
left: 20%;
top: 245px;
/* border: 1px solid red; */

}
.banner 
{
color: #fff;
font-family: 'Bebas Neue', cursive;
font-weight: 400;
font-size: 95px;
line-height: 86px;
margin-bottom: 28px;
}
.typ-1
{
    z-index: 2;
position: relative;
}
.typ-2 {
margin-top: -29px;
z-index: 0;
opacity: .6;
}
.cm-line-break {
display: block;
}
.desc
{
    font-size: 17px;
line-height: 21px;
font-family: 'Barlow', sans-serif;
color: #b2b2b2;
width: 78%;
}

#box {
   width: 480px;
    height: auto;
    /* position: absolute; */
    background: linear-gradient(to bottom,#2c2c2c 0%,#434548 100%);
    margin-top: 11%;
    margin-left: 55%;
    margin-bottom: 10%;
    
    margin-right: auto;
    box-sizing: border-box;
    color: azure;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-box-shadow: 0 0 39px 14px rgb(0 0 0 / 30%);
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 70px;
    padding-right: 40px;


}

#box p {
    margin: 0px;
    margin-top: 25px;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
}

#box input {
    width: 90%;
    margin-bottom: 20px;
}

#name, #name1, #num,#email,#pass,#pass1 {
    border: none;
    padding: 0;
    padding-bottom: 5px;
     
    border-bottom: 1px solid #707070;
    background: transparent;
    outline: none;
    margin-top: 6px;
    font-family: 'Barlow', sans-serif;
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    

}
#term 
{
    display: flex;
    width:90%;
    /* border: 1px solid white; */
    justify-content: space-between;
    line-height: 16px;
    font-size: 13px;font-family: 'Barlow', sans-serif;
    font-weight: 300;

}
#term > div:nth-child(1) 
{

    box-sizing: border-box;
    /* border: 1px solid white; */
    width: 40px;
    padding-top: -10px;
    padding-right: 20px; 
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
}
#term > div:nth-child(2)  
{
    
    padding-right: 30px;
}

h6 {
    color: #858585;
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    margin-top: -15px;
}
#anchor
{
    text-decoration: none;
   color: #f8673b;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
}
#btn 
{
background: #f8673b;
min-width: auto;
padding: 12px 60px;
color: #fff;
font-family: 'Barlow', sans-serif;
font-weight: bold;
line-height: 12px;
font-size: 11px;
border: none;
border-radius: 3.2px;
}