
body{
    margin: 0;
    padding: 0;
    font-family: "balrow";
    position: 0;
}
nav{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:85px;
    padding:10px 90px;
    box-sizing: border-box;
    transition: 1s;
    background-color: #000000;
}

nav .logo{
padding: 15px 20px;
padding-left: 0px;
height: 80px;
float:left;
font-size: 13.6px;
font-weight: bold;
text-transform: uppercase;
color: #fff;
}
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    font-family: 'Balrow' ,sans-serif;
    display: flex;
}

#navbar nav ul .icons{
    display: flex;
    justify-content:space-around;
    margin-left: 20px;
    margin-right: 5px;
} 
nav ul li a{
    line-height: 70px;
    color:#fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 13px;
    font-weight:300px;
    display: block;
    
    text-transform: uppercase;
}
select{
    background: inherit;
    border: 0;
    color: #fff;
}

.links li a i{
    font-size: large;
    padding: 5px;
}
nav ul li ul a{
    /* line-height: 30px; */
    color:#f8673b;
    padding: 25px 5px 0px 10px;
    text-decoration: none;
    font-size: 14.6px;
    text-transform: uppercase;
}

.icons a i{
    line-height: 70px;
    text-decoration: none;
    color: #f8673b;
    padding: 15px 10px 18px 10px;
     font-size: 20px;
     
}
ul li a:hover{
    color: #f8673b;
    text-decoration-line: none;
    transition: 0.1s;
}

.sub-menu{
    display:none;
 }

 .sub-menu li a{
     line-height: 15px;
     color: #fff;
     font-size: 14px;
     /* margin: 0px 10px 2px 5px; */
 }
#links li:hover .sub-menu{
    display: block ;
    position:absolute;
    background: rgba(61, 59, 59, 0.986);
    margin-top: -15px;
    padding: 0px;
    padding-bottom:20px ;
}
#links li:hover .sub-menu ul{
    display: block;
    margin: 12px;
    padding-top: -10px;
}
#links li:hover .sub-menu ul li{
    width: 100px;
    padding: 10px;
    background: transparent;
    text-align: left;
}
/* .icons a i .search:hover{
    } */
#kids{
    display:none;
}
.icons a i .search{
    background-color: #000000;
    color: #fff;
}
#links li:hover .sub-menu ul li:hover{
    color:#f8673b;
}


